body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: rgb(90, 90, 90);
  background-color: rgb(240, 240, 240);
  margin: 0;
  padding-top: 0;
  padding-bottom: 15vh;
  padding-right: 10vw;
  padding-left: 10vw;
}

header {
  font-family: "Georgia", serif;
  font-size: 2em;
  line-height: 1.5em;
  color: rgb(60, 60, 60);
  background-color: rgb(240, 240, 240);
}

h2, h3 {
  font-weight: normal;
  font-style: italic;
}

code {
  line-height: 8vh;
  color: black;
  background-color: white;
  border-style: inset;
  padding: 0.5vh 0.5vw;
}

#div-nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto%;
  position: fixed;
  top: 73px;
}

nav header {
  font-family: "Papyrus", monospace;
  font-size: 1.5em;
  text-align: center;
}

nav div {
   border-bottom: 1px solid gray;
   height: 55px;
   text-align: center;
   line-height: 55px;
}

.nav-link {
  font-size: 1.1em;
}

#div-doc {
  margin-left: 250px;
  min-width: 380px;
}

section {
  padding-top: 4em;
}

@media screen and (max-width: 480px) {
  #div-nav {
    display: none;
  }
  #div-doc {
    margin: auto;
  }
}
